body{
  background-image: linear-gradient(180deg, #1E2131, #373E5E);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 1s;
  padding: 25px;
  font-family: 'Genos', sans-serif;
}
input {
  color: white;
  outline: none;
}
@media (min-width: 0) and (max-width: 360px){
  from div{
    margin-top: 50px;
    padding: 15px;
    font-size: 14px;
    background-color: #121420;
    color: white;
    border-radius: 6px;
    box-shadow: 0 0 10px #121420;
    padding-bottom: 10px;
    z-index: -2;
    transition: background 1s;
  }
  input{
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    transition: background 1s;
  }
  input[type="password"]{
    margin-top: 20px;
    transition: background 1s;
  }
  p{
    margin-top: 25px;
    font-size: 12px;
    transition: background 1s;
    text-align: left;
  }
  a{
    text-decoration: none;
    text-shadow: 2px 2px 3px black;
    transition: background 1s;
  }
  p[name="log"]{
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    transition: background 1s;
  }
  button[type="submit"]{
    width: 130px;
    height: 50px;
    background-color: black;
    box-shadow: 0 0 5px black;
    color: white;
    border: none;
    border-radius: 5px;
    z-index: 100;
    position: relative;
    top: -2px;
    left: -60px;
    transition: background 1s;
  }
  button[type="submit"]:hover{
    background-color: #5600C7;
    box-shadow: 0 0 30px #5600C7;
    border: none;
  }
  button[type="submit"]:focus{
    border: none;
  }
}
@media (min-width: 361px){
  from div{
    margin: 0px;
    margin-top: 240px;
    padding: 15px;
    font-size: 14px;
    width: 600px;
    height: 500px;
    background-color: #121420;
    color: white;
    border-radius: 6px;
    box-shadow: 0 0 10px #121420;
    padding-bottom: 10px;
    z-index: -2;
    transition: background 1s;
  }
  input{
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    transition: background 1s;
    font-size: 30px;
    box-sizing: border-box;
  }
  input[type="password"]{
    margin-top: 20px;
    transition: background 1s;
  }
  p{
    margin-top: 25px;
    font-size: 20px;
    transition: background 1s;
    text-align: left;
  }
  a{
    text-decoration: none;
    text-shadow: 2px 2px 3px black;
    transition: background 1s;
  }
  p[name="log"]{
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    transition: background 1s;
  }
  button[type="submit"]{
    width: 230px;
    height: 80px;
    background-color: black;
    box-shadow: 0 0 5px black;
    color: white;
    border: none;
    border-radius: 5px;
    z-index: 100;
    position: relative;
    top: 30px;
    left: -140px;
    transition: background 1s;
    font-size: 30px;
  }
  button[type="submit"]:hover{
    background-color: #5600C7;
    box-shadow: 0 0 30px #5600C7;
    border: none;
  }
  button[type="submit"]:focus{
    border: none;
  }
}
